
body {
    background-color: rgb(231, 231, 77);
    margin: 0;
    height: 100vh;
    transition: 0.3s, color 0.3s;
}

body.dark {
    background-color: black;
    transition: 0.3s, color 0.3s;
}


.buttonToggle {
    padding: 100px 200px;
    font-size: 50px;
    border-radius: 20px;
    border: none;
    background-color: gray;
    margin-left: 500px;
    margin-top: 500px;
    cursor: pointer;
    transition: 0.2s;
}

.buttonToggle:hover {
    background-color: orange;
}
